.main-heading {
  // margin: 3rem 0 0 6rem;
  font-weight: 700;
  font-size: 4rem;
  color: var(--color-text);

  // @media (max-width: 600px) {
  //     font-size: 3rem;
  //     margin-left: 1.5rem;
  //     margin-top: 1rem;

  // }

  @media (max-width: 900px) {
    font-size: 3rem;
    margin-left: 2rem;
    margin-top: 1rem;
  }

  // @media (min-width: 900px) and (max-width: 1200px) {
  //     margin-left: 1.5rem;

  // }
}

.default-heading {
  margin: 1rem 0 0 0;
  font-weight: 500;
  font-size: 3rem;
  color: var(--color-text);
  // @media (max-width: 600px) {
  //     font-size: 2rem;
  //     margin-left: 1.5rem;

  // }

  @media (max-width: 900px) {
    font-size: 2rem;
    margin-left: 2rem;
  }

  // @media (min-width: 900px) and (max-width: 1200px) {
  //     margin-left: 1.5rem;

  //   }
  .username {
    text-transform: capitalize;
  }
}

.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Adjust as needed */
}

.spinner {
  margin: auto;
  width: 56px;
  height: 56px;
  display: grid;
  border-radius: 50%;
  -webkit-mask: radial-gradient(farthest-side, #0000 40%, #474bff 41%);
  background:
    linear-gradient(0deg, rgba(71, 75, 255, 0.5) 50%, rgba(71, 75, 255, 1) 0)
      center/4.5px 100%,
    linear-gradient(
        90deg,
        rgba(71, 75, 255, 0.25) 50%,
        rgba(71, 75, 255, 0.75) 0
      )
      center/100% 4.5px;
  background-repeat: no-repeat;
  animation: spinner-d3o0rx 1s infinite steps(12);
}

.spinner::before,
.spinner::after {
  content: '';
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  opacity: 0.915;
  transform: rotate(30deg);
}

.spinner::after {
  opacity: 0.83;
  transform: rotate(60deg);
}

@keyframes spinner-d3o0rx {
  100% {
    transform: rotate(1turn);
  }
}
